header, footer, div, input, select, textarea, figure {
  box-sizing: border-box;
}

body {
  background-color: #DCE1E9;
  font-family: 'PT Sans', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 75px 40px;
  background-color: white;
}

.row {
  display: flex;
  align-items: center;
}

.justflex {
  display: flex;
}

.button {
  padding: 15px;
  cursor: pointer;
  border-radius: 2px;
}

select {
  appearance: none;
  background-image: url("../images/triangle.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
}

/* helpers */
$colors: white, black;
@each $color in $colors {
  .text-#{$color} {
    color: $color;
  }
}

$aligns: left, right, center;
@each $align in $aligns {
  .text-#{$align} {
    text-align: #{$align};
  }
}

$sizes: 12;
@mixin margin-classes {
  @for $i from 1 through $sizes {
     $margin: $i * 5px;
    /* margin #{$margin} */
    .m#{$i}  { margin: $margin; }
    .ml#{$i} { margin-left: $margin; }
    .mr#{$i} { margin-right: $margin; }
    .mt#{$i} { margin-top: $margin; }
    .mb#{$i} { margin-bottom: $margin; }
    .mx#{$i} { margin-left: $margin; margin-right: $margin; }
    .my#{$i} { margin-top: $margin; margin-bottom: $margin; }
  }
}
@include margin-classes;
