.order-block {
  &__links {
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #0066FF;

    img {
      margin-right: 12px;
    }

    &_active {
      background-color: #FFEAAA;
      border-radius: 2px;
      color: black;
    }
  }

  &__form-wrapper {
    margin-top: 16px;
    background-color: #FFE9D9;
    border-radius: 6px;
    padding: 30px;
    position: relative;
  }

  &__circle {
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: #F46D3E;
    border-radius: 50%;
    top: -65px;
    right: 25px;
    box-shadow: 0px 13px 14px rgba(244, 109, 62, 0.403334);
    flex-direction: column;
    justify-content: center;

    span {
      font-size: 42px;
      font-weight: 700;
    }

    @include tablet-landscape-and-below {
      top: initial;
      right: 15px;
      width: 65px;
      height: 65px;
      bottom: -32px;
      
      span {
        font-size: 20px;
      }
    }
  }

  &__form {
    .justflex {
      @include tablet-landscape-and-below {
        flex-direction: column;
      }
    }

    .form-group {
      flex-direction: column;
      flex-wrap: wrap;

      &:not(:last-of-type) {
        margin-right: 15px;
      }

      @include tablet-landscape-and-below {
        &:not(:last-of-type) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }

      &__label {
        color: #8E8B8B;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 6px;
      }

      &__input {
        padding: 15px;
        background-color: white;
        border: 1px solid #B7B7B7;
        border-radius: 2px;
        font-size: 20px;
        color: black;

        &:focus {
          outline: none;
        }

        &_date {
          width: 215px;
        }

        &_time {
          width: 105px;
        }

        &_guests {
          width: 155px;
        }

        @include tablet-landscape-and-below {
          &_date, &_time, &_guests {
            width: auto;
          }
        }
      }

      &__button {
        background-color: #F46D3E;
        border: 0;
        font-size: 20px;
        font-weight: 700;

        &:focus {
          outline: none;
        }
      }

      &__helper-text {
        font-size: 15px;
        font-weight: 400;
        color: #8E8B8B;
      }
    }
  }
}